extends layout.pug

block content
  h1 Settings
  h2 Color: #{color}
  li
    a.color-link(href='/settings?color=red') red
    |  #{printSelected('red')}
  li
    a.color-link(href='/settings?color=yellow') yellow
    |  #{printSelected('yellow')}
  li
    a.color-link(href='/settings?color=green') green
    |  #{printSelected('green')}
  li
    a.color-link(href='/settings?color=blue') blue
    |  #{printSelected('blue')}
  li
    a.color-link(href='/settings?color=purple') purple
    |  #{printSelected('purple')}
